.summaryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 29, 29);
    height: 100vh;
    color: white;
}

.listItem {
    font-size: 2rem;
}

.votes {
    color: rgb(71, 132, 245);
}
